$red: #FA1010
$grey: #6A6A6A

body
  overflow: hidden

.navbar-item
  color: $red !important
  font-size: 24px
  margin: 8px

.blog-list-item
  border-radius: 0
  background-color: #fff
  border: 1px #000 solid

// .blog-list-item .featured-thumbnail
//     position: absolute
//     width: calc(100% - 48px)
//     height: 214px
//     overflow: hidden


footer
  border-top: 2px $red solid

.has-background-black
  background-color: #fff !important

.has-background-black .navbar-item
  color: $red !important
  font-size: 16px

.taglist li
    border: 1px $grey solid
    padding: 8px 12px !important
    margin: 4px

.taglist a
    color: $grey !important

.byline
  font-size: 16px
  color: $grey

p.post-meta
    background: #fff
    color: $red
    width: 60%
    z-index: 1
    padding-right: 10px
    padding-bottom: 10px

.blog-list-item header
    margin-bottom: 0

span.subtitle.is-size-5.is-block.date
    color: #000
    font-size: 12px !important

.notification
  padding: 20px

footer a.navbar-item:hover, footer a.navbar-item.is-active
  background: transparent

article:hover
  opacity: 0.5

.taglist-big li
  border: none
  display: block
  width: 100%
  padding: 0 !important
  margin: 0 !important

.taglist-big li:hover
  opacity: 0.5





@media screen and (max-width: 1087px)
  .navbar-burger:hover
    background-color: transparent

  .social
    padding-bottom: 60px !important

  .content ul
    margin-left: 10px

  .navbar-item
    margin-left: 0
    margin-right: 0
    padding-left: 0
    padding-right: 0

  .section--gradient
    padding-left: 0
    padding-right: 0

  p.post-meta
    width: 100%

  .navbar-item img
    width: 70px !important

  .section
    padding-top: 0

  .blog-list-item div.featured-thumbnail
    max-width: 100%
